<button type="button" class="page1-modal__open" (click)="open()">Click me to see page 1 modal 1</button>
<button type="button" class="page1-modal__open" (click)="open2()">Click me to see page 1 modal 2</button>

<modal-default id="page1-modal" classes="page1-modal">
  <div class="title">Page 1 modal 1</div>

  <div class="content page1-modal__content">
    Hello world, test modal 1
  </div>
</modal-default>

<modal-default id="page1-modal-2" classes="page1-modal-2">
  <div class="title">Page 1 modal 2</div>
  <div class="content page1-modal__content">
    <p>Hello world, test modal 2</p>
    <p>Hello world, test modal 2</p>
    <p>Hello world, test modal 2</p>
    <p>Hello world, test modal 2</p>
  </div>
</modal-default>
