.page2-modal
  &__content
    font-size: 1.2rem
    padding: 0 20px
  &__button
    outline: none
    padding: 5px 10px
    border-radius: 3px
    cursor: pointer
    border: 1px solid #ccc
    display: block

  &__open
    font-size: 1.4rem
    padding: 10px 0
